.react-calendar {
    background: #2e2e2e;
    /* border: 1px solid #a0a096; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
/* .react-calendar--doubleView {
  width: 700px;
} */
/* .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
} */
/* .react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
} */
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    border-radius: 50px;

    cursor: pointer;
}
.react-calendar__navigation {
    display: flex;
    height: 30px;
}
.react-calendar__navigation button {
    width: 100px;
    background: none;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.1em;

    color: #f6f6f6;
}
/* .react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
} */
/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
} */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}
* {
    text-decoration: none;
}
.react-calendar__month-view__days__day {
    width: 56px;
    height: 50px;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}
/* .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
} */

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
/* 호버시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: white;
    color: #9e9e9e;
    border-radius: 50px;
}

.react-calendar__tile--hasActive {
    border-radius: 50px;
    background: #76baff;
}
/* 50*46 */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: white;
    color: #9e9e9e;
}
.react-calendar__tile--active {
    background: #e9e9e9;
    border-radius: 50px;
    color: #292929;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #e9e9e9;
    border-radius: 50px;
    color: #292929;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.flex.justify-center.items-center.absoluteDiv {
    display: flex;
    justify-content: center;
}
/* 오늘 날짜 */
.react-calendar__tile--now {
    background: #2dbeb1;
    border-radius: 50px;
    color: white;
}
/* 오늘 날짜 선택/호버 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #2dbeb1;
    border-radius: 50px;
    color: white;
}
.react-calendar__tile--now > * > .dot {
    height: 10px;
    width: 10px;
    /* src: url(../img/icon/star.png); */
    /* background-image: url(../img/icon/star.png); */
    /* background-color: #2dbeb1; */
    display: flex;
    /* margin-top: 0;
  margin-left: 11px; */
}

.dot {
    height: 12px;
    width: 12px;
    /* src: url(../img/icon/star.png); */
    /* background-image: url(../img/icon/star.png); */
    background-color: #e9e9e9;
    border-radius: 50%;
    display: flex;
    /* margin-top: 0;
  margin-left: 11px; */
}

.react-calendar__tile--active .dot {
    height: 12px;
    width: 12px;
    /* src: url(../img/icon/star.png); */
    /* background-image: url(../img/icon/star.png); */
    background-color: #c4c4c4;
    border-radius: 50%;
    display: flex;
    /* margin-top: 0;
  margin-left: 11px; */
}

.react-calendar__tile--now > * > .dot {
    height: 12px;
    width: 12px;
    /* src: url(../img/icon/star.png); */
    /* background-image: url(../img/icon/star.png); */
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    /* margin-top: 0;
  margin-left: 11px; */
}
